<app-file-preview-dialog-toolbar>
  <mat-icon>description</mat-icon>
  {{ data?.file?.name }}
</app-file-preview-dialog-toolbar>
<div class="overlay-content"
     [@slideContent]="animationState"
     (@slideContent.start)="onAnimationStart($event)"
     (@slideContent.done)="onAnimationDone($event)">
  <div class="spinner-wrapper"
       *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <img [@fade]="loading ? 'fadeOut' : 'fadeIn'"
       [src]="data?.file?.url"
       (load)="onLoadFinished($event)" />
</div>
