<!-- Create view in manually -->
<ng-template #template
             let-name="nameFromContext"
             let-age="ageFromContext">
  <h5>Person info</h5>
  <span>name:{{name}}, </span> <span>age:{{age}}</span>
  <hr>
</ng-template>

<ng-container #container>
</ng-container>

<!-- Create view by ngTemplateOutlet directive form 1 -->
<ng-container *ngTemplateOutlet="template; context: {
  nameFromContext: 'Houdini',
  ageFromContext: 66
}">
</ng-container>

<!-- Create view by ngTemplateOutlet directive form 2 -->
<ng-container [ngTemplateOutlet]="template"
              [ngTemplateOutletContext]="{
                nameFromContext: 'Maya',
                ageFromContext: 55
              }">
</ng-container>

<!-- Create view by ngTemplateOutlet in a div -->
<div [ngTemplateOutlet]="template"
     [ngTemplateOutletContext]="{
  nameFromContext: 'Cinema4d',
  ageFromContext: 17
}"></div>


<!-- What we can achieve from ngTemplateOutlet do -->
<app-ng-template-outlet></app-ng-template-outlet>


<!-- Create host view manually -->
<app-dynamic></app-dynamic>


<!-- Create host view by ngComponentOutlet -->
<app-ng-component-outlet></app-ng-component-outlet>
