/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '../node_modules/angular-calendar/scss/angular-calendar.scss';
@import '../node_modules/flatpickr/dist/flatpickr.css';
// @import './bootstrap-lux.theme.css';
@import './bootstrap-journal.theme.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.file-preview-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}
